<%- include("partials/header") %>
<div class="jumbotron">
	<div class="row align-items-center">
		<div class="col-lg-6">
			<img id="profilephoto" class="thumbnail col-12" src=<%= project.img%> >
		</div>
		<div id="intro" class="col-lg-6 text-center">
			<h2>
				<%= project.intro%>
			</h2>
			<h4>
				I will share my recipes, process and results. 
			</h4>
			<h4>
				More to comeï¼
			</h4>
		</div>
	</div>
</div>
<%- include("partials/footer") %>