<%- include("partials/header") %>
<div class="jumbotron">
	<div class="row align-items-center">
		<div class="col-lg-6">
			<img id="profilephoto" class="thumbnail col-12" src=<%= project.img%> >
		</div>
		<div id="intro" class="col-lg-6 text-center">
			<h2>
				Healing Internally Displcaed Mother - HIMA
			</h2>
			<h4>
				Global Health Case Competition
			</h4>
			<h4>
				More to come！
			</h4>
		</div>
	</div>
</div>
<%- include("partials/footer") %>