<%- include("partials/header") %>
<div class="jumbotron">
	<div class="row align-items-center">
		<div class="col-lg-6">
			<img id="profilephoto" class="thumbnail col-12" src=<%= project.img%> >
		</div>
		<div id="intro" class="col-lg-6 text-center">
			<h2>
				Naukri Data Visualization and Analysis-gplt, sns
			</h2>
			<h4>
				Job searching is one of the biggest concern for many people. It is important to know job market in general and understand the industry and role that you are interested in so that you can better prepare for entering an new industry or job-hopping. In this project, I will first investigate job market geographically, second experience requirement and last key skills requirement, industry wise.
			</h4>
			<h4>
				More to come！
			</h4>
		</div>
	</div>
</div>
<%- include("partials/footer") %>